<div class="icon-container">
  <i-button
    [severity]="'contrast'"
    [text]="true"
    [icon]="'pi pi-cloud-download'"
    [size]="'small'"
  />
  <i-button
    [severity]="'contrast'"
    [text]="true"
    [icon]="'pi pi-cloud-download'"
    [size]="'medium'"
  />
  <i-button
    [severity]="'contrast'"
    [text]="true"
    [icon]="'pi pi-cloud-download'"
    [size]="'large'"
  />
</div>

<div class="icon-container">
  <i-button [severity]="'success'" [raised]="true">Hello Button</i-button>
  <i-button [severity]="'success'" [raised]="true" [size]="'medium'"
    >Hello Button</i-button
  >
  <i-button [severity]="'success'" [raised]="true" [size]="'large'"
    >Hello Button</i-button
  >
</div>

<div class="icon-container">
  <i-button [severity]="'warning'" [outlined]="true">Hello Button</i-button>
  <i-button [severity]="'warning'" [outlined]="true" [size]="'medium'"
    >Hello Button</i-button
  >
  <i-button [severity]="'warning'" [outlined]="true" [size]="'large'"
    >Hello Button</i-button
  >
</div>

<div class="icon-container">
  <i-button [severity]="'info'" [text]="true" [icon]="'pi pi-user'"
    >Button with icon</i-button
  >
  <i-button [severity]="'info'" [outlined]="true" [icon]="'pi pi-user'"
    >Button with icon</i-button
  >
  <i-button [severity]="'info'" [icon]="'pi pi-user'"
    >Button with icon</i-button
  >
</div>
