<div class="example-dialog-content">
  <h4>Example Dialog Form</h4>
  <p>
    Edit the form data below and click Submit to see the results in the console.
  </p>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-fields">
      <i-input-text
        label="Message"
        formControlName="message"
        placeholder="Enter your message"
        [fluid]="true"
      >
      </i-input-text>

      <i-input-text
        label="User"
        formControlName="user"
        placeholder="Enter user name"
        type="text"
        [fluid]="true"
      >
      </i-input-text>
    </div>
  </form>

  <p>You can close this dialog by:</p>
  <ul>
    <li>Clicking the X button</li>
    <li>Pressing Escape</li>
    <li>Clicking outside the dialog</li>
    <li>Clicking Cancel or Submit</li>
  </ul>
</div>
<div slot="footer">
  <i-dialog-actions
    (cancelEvent)="onHide()"
    (submitEvent)="onSubmit()"
  ></i-dialog-actions>
</div>
