<div class="app-container">
  <nav class="app-nav">
    <h1>Invensys Angular UI Kit</h1>
    <ul>
      <li><a routerLink="/buttons" routerLinkActive="active">Buttons</a></li>
      <li>
        <a routerLink="/input-texts" routerLinkActive="active">Input Texts</a>
      </li>
      <li><a routerLink="/cards" routerLinkActive="active">Cards</a></li>
      <li><a routerLink="/dialogs" routerLinkActive="active">Dialogs</a></li>
      <li>
        <a routerLink="/confirmation-dialogs" routerLinkActive="active"
          >Confirmation Dialogs</a
        >
      </li>
      <li><a routerLink="/tooltips" routerLinkActive="active">Tooltips</a></li>
      <li><a routerLink="/selects" routerLinkActive="active">Selects</a></li>
      <li>
        <a routerLink="/multi-selects" routerLinkActive="active"
          >Multi Selects</a
        >
      </li>
      <li><a routerLink="/chips" routerLinkActive="active">Chips</a></li>
      <li>
        <a routerLink="/listboxes" routerLinkActive="active">Listboxes</a>
      </li>
      <li>
        <a routerLink="/whispers" routerLinkActive="active">Whispers</a>
      </li>
    </ul>
  </nav>

  <main class="app-main">
    <router-outlet></router-outlet>
  </main>
</div>
