@use "../../../invensys-angular-shared/src/lib/themes/color-variables.scss" as *;

// App Container Theme Mixin
@mixin app-container-theme() {
}

// App Navigation Theme Mixin
@mixin app-nav-theme() {
  .app-nav {
    background: $color-surface-section;
    color: $color-text-primary;
    box-shadow: $color-box-shadow;

    h1 {
      color: $color-text-primary;
    }

    ul {
      li {
        a {
          color: $color-text-secondary;

          &:hover {
            background: $color-surface-hover;
            color: $color-text-primary;
          }

          &.active {
            background: $color-primary;
            color: $color-white;
          }
        }
      }
    }
  }
}

// App Main Content Theme Mixin
@mixin app-main-theme() {
  .app-main {
    flex: 1;
    background: $color-surface-ground;
  }
}

// Main app theme mixin that includes all component mixins
@mixin app-theme() {
  @include app-container-theme();
  @include app-nav-theme();
  @include app-main-theme();
}
