@use "../shared-demo-styles.scss" as *;

.dialogs-demo {
  @extend .demo-component;
}

.dialog-content {
  h4 {
    margin-bottom: 16px;
    font-size: 1.1rem;
  }

  p {
    margin-bottom: 16px;
    line-height: 1.6;
  }

  ul {
    margin: 16px 0;
    padding-left: 24px;

    li {
      margin: 4px 0;
      line-height: 1.5;
    }
  }
}
