<form [formGroup]="basicForm">
  <app-code-display [sourceCode]="textInputCode">
    <i-input-text label="Text Input" type="text" id="text-input" formControlName="textInput">
    </i-input-text>
  </app-code-display>

  <app-code-display [sourceCode]="emailInputCode">
    <i-input-text label="Email Input" type="email" id="email-input" formControlName="emailInput">
    </i-input-text>
  </app-code-display>
</form>

<form [formGroup]="validationForm">
  <app-code-display [sourceCode]="requiredFieldCode">
    <i-input-text label="Required Field" type="text" id="required-field" formControlName="requiredField">
    </i-input-text>
  </app-code-display>

  <app-code-display [sourceCode]="minLengthFieldCode">
    <i-input-text label="Min Length (5 chars)" type="text" id="minlength-field" formControlName="minLengthField">
    </i-input-text>
  </app-code-display>
</form>

<form [formGroup]="customErrorForm">
  <app-code-display [sourceCode]="usernameFieldCode">
    <i-input-text label="Username" type="text" id="username-field" formControlName="usernameField"
      [errorMessages]="usernameErrors">
    </i-input-text>
  </app-code-display>

  <app-code-display [sourceCode]="phoneFieldCode">
    <i-input-text label="Phone Number" type="tel" id="phone-field" formControlName="phoneField"
      [errorMessages]="phoneErrors">
    </i-input-text>
  </app-code-display>
</form>

<form [formGroup]="fluidForm">
  <app-code-display [sourceCode]="fluidInputsCode">
    <i-input-text label="Fluid Text Input" type="text" id="fluid-text" formControlName="fluidText" [fluid]="true">
    </i-input-text>
    <i-input-text label="Fluid Email Input" type="email" id="fluid-email" formControlName="fluidEmail" [fluid]="true">
    </i-input-text>
    <i-input-text label="Fluid Password Input" type="password" id="fluid-password" formControlName="fluidPassword"
      [fluid]="true">
    </i-input-text>
  </app-code-display>
</form>