<app-code-display [sourceCode]="basicConfirmationCode">
  <i-button [severity]="'danger'" (click)="showBasicConfirmation()">
    Delete Item
  </i-button>
</app-code-display>

<app-code-display [sourceCode]="customConfirmationCode">
  <i-button [severity]="'warning'" (click)="showCustomConfirmation()">
    Unlink Report
  </i-button>
</app-code-display>

<app-code-display [sourceCode]="discardChangesCode">
  <i-button [severity]="'secondary'" [outlined]="true" (click)="showDiscardChanges()">
    Discard Changes
  </i-button>
</app-code-display>